* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: radial-gradient(rgb(7, 156, 255), #696767);
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;

}

nav li {
    display: inline-block;
    list-style-type: none;

}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: blue;
}

p {
    color: rgb(7, 7, 7);
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}

.header {
    background: radial-gradient(rgb(253, 255, 249), #948181);

}

.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}

@media only screen and (max-width:800px) {

    nav ul{
        position: absolute;
        top: 57px;
        box-shadow: 5px 10px;
        width: 100%;
        overflow: hidden;
        transform: max-height 0.5s;
        
        width: 237px;
        text-align: right;
        background-color: rgb(0 0 0 / 70%);
    }

    nav ul li {
        display: block;
        margin-right: 5px;
        /* margin-top: 13px; */
        margin-bottom: 10px;
    }
    nav ul li:hover{
     background: #0514b1;
    }

    nav ul li a {
        color: rgb(255, 255, 255);
        font: bold;
        
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }
}


@media only screen and (max-width:600px) {
    .row {
        text-align: center;

    }

    .col-2,
    .col-3,
    .col-4 {
        flex-basis: 100%;
    }
    .cart-info p{
        display:none;
        
    }
    
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.cart-page {
    margin: auto;
    padding: 50px;
    width: 98%;

}

table {
    width: 100%;
    border-collapse: collapse;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

th {
    text-align: left;
    padding: 5px;
    color: #000000;
    box-shadow: 0px 10px;
    background-color: rgba(211, 211, 211, 0.7);
    font-weight: normal;

}

td {
    padding: 15px 10px;
    box-shadow: 1px 10px;
    background: rgb(199, 148, 148);
}

td input {
    width: 40px;
    height: 30px;
    padding: 5px;
    text-align: center;

}

td a {
    color: #1404ff;
    font-size: 12px;
}

td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.total-price {
    display: flex;
    justify-content: flex-end;
    padding: 26px 0px;


}

.total-price table {
    border-top: 3px solid red;
    width: 100%;
    max-width: 400px;
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}

.btun1 {
    padding: 10px;
    width: 100%;
    height: 50px;
    text-align: right;
    border-top: 1px solid rgb(47, 14, 235);
}

button {
    color: #0f101a;
    width: 120px;
    height: 38px;
    text-align: center;
    margin: auto;
}
.ch-1{

    width: 10px;

}
