body{
    background-color: #858585;

}
h1{
text-align: center;
background: radial-gradient(rgb(255, 255, 255), #201616);

    margin: auto;
    padding: 5px;
    box-shadow: 0px 0px 8px 5px rgb(246, 247, 245);
}
.mb-3{
    
    display: grid;
    justify-content: center;
  
   
}

input[type=text] {
    box-shadow: 0px 0px 8px 5px rgb(255, 254, 254);
    background: radial-gradient(rgb(253, 253, 253), #c7c7c7);
    margin: 5px;
    font-size: 16px;
    
   
  }
  input[type=password] {
    box-shadow: 0px 0px 8px 5px rgb(255, 254, 254);
    background: radial-gradient(rgb(253, 253, 253), #c7c7c7);
    margin: 5px;
    font-size: 16px;
    margin: auto;
  
   
  }

  @media only screen and (max-width:800px) {
    
    input[type=text] {
        font-size: small;
 padding: 5px;
 width: 100px;
      }
      input[type=password] {
        font-size: small;
        padding: 5px;
        width: 100px;
      }
    
    }
h4{
    font-size: 1.5rem;
   text-align: center;
    padding: 1px;
    width: 100%;
    
}
button{
    margin: 5px;
    /* padding: 17px; */
    /* height: 50px; */
    /* margin: auto; */
    box-shadow: 0px 0px 8px 5px rgb(255 255 255 / 40%);
    background: radial-gradient(rgb(255, 255, 255), #978282);
    font-size: x-large;
  }
  .butonn {
    /* box-shadow: 0px 0px 8px 5px rgb(255 255 255); */
    /* background: radial-gradient(rgb(255, 255, 255), #3f3f3f); */
    display: grid;
    justify-content: center;
    padding: 9px;
    
    margin: auto;
}
.contenr{
    
    background-color: white;
    margin: auto;
    margin-top: 30px;
    width: 50%;
    box-shadow: 0px 0px 8px 5px rgb(230, 225, 225);
    background: radial-gradient(rgb(252, 250, 250), #3f3f3f);
    font-size: 18px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 5px rgb(253, 253, 253);
   

}
@media screen and (max-width: 500px) {
  .barmenu a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}
@media screen and (max-width: 600px) {
#logoMain1 {
  
  
  height: 36px;
  background-color: #000000;
  border: 7px solid #707070;
  border-radius: 50%;
  box-shadow: 50px 25px 10px rgb(0 0 0 / 25%);
  position: relative;
  /* margin-left: 40%; */
}
#logoMainafter1 {
  width: 74px;
  box-shadow: 0px 0px 0px rgba(5, 5, 5, 0.25);
  height: 38px;
  margin-top: 67px;
  margin-left: 219px;
  display: block;
  border-radius: 20%;
  background: -webkit-radial-gradient(50% 50%, circle cover, rgb(110, 0, 255), rgb(218 218 218) 25%, rgb(283 0 0 / 0%) 3%);
  -webkit-transform: translateX(-77px) translateY(-94px) skewX(-20deg);
  -webkit-filter: blur(3px);
  

}


#logoInside1 {
 
  height: 17px;
  margin: 32px;
  margin-top: 3px;
  background-color: #fc0000;
  border: 1px solid #0037ff;
  border-radius: 50%;
  box-shadow: 50px 25px 9px rgb(26 22 24 / 48%);
}

#logoMain {
  
  height: 36px;
  background-color: #000000;
  border: 7px solid #707070;
  border-radius: 50%;
  box-shadow: 50px 25px 10px rgb(0 0 0 / 25%);
  position: relative;
  /* margin-left: 40%; */
}
  #logoMainafter {
      width: 74px;
      box-shadow: 0px 0px 0px rgba(5, 5, 5, 0.25);
      height: 38px;
      margin-top: 67px;
      margin-left: 219px;
      display: block;
      border-radius: 20%;
      background: -webkit-radial-gradient(50% 50%, circle cover, rgb(110, 0, 255), rgb(218 218 218) 25%, rgb(283 0 0 / 0%) 3%);
      -webkit-transform: translateX(-77px) translateY(-94px) skewX(-20deg);
      -webkit-filter: blur(3px);
    
  
  }
  .logo{
    margin-left: 50%;
    width: 250px;
    height: 95px;
  }
  
  #logoInside {
   
    height: 17px;
    margin: 32px;
    margin-top: 3px;
    background-color: #fc0000;
    border: 1px solid #0037ff;
    border-radius: 50%;
    box-shadow: 50px 25px 9px rgba(26, 22, 24, 0.48);
    
  }
  .logo-holder {
      text-align: center;
      width: 100%;
      display: grid;
      justify-content: center;
      margin: auto;
  }

  
  .logo-6 h3 {
      color: #000000;
      font-family: 'Cinzel', serif;
      font-weight: bold;
      font-size: 44px;
      line-height: 2.5;
      box-shadow: 50px 25px 11px rgb(146 146 146 / 25%);
     
      /* height: 95px; */
      /* margin-top: -26px; */
      /* margin-left: 43%; */
  }
  .logo-6 h3 span {
    background: #e74c3c;
    color: #fff;
    display: inline-block;
    line-height: 1.8;
    padding: 0 16px;
  }
}
#logoMain1 {
  
  
  height: 36px;
  background-color: #000000;
  border: 7px solid #707070;
  border-radius: 50%;
  box-shadow: 50px 25px 10px rgb(0 0 0 / 25%);
  position: relative;
  /* margin-left: 40%; */
}
#logoMainafter1 {
  width: 74px;
  box-shadow: 0px 0px 0px rgba(5, 5, 5, 0.25);
  height: 38px;
  margin-top: 67px;
  margin-left: 219px;
  display: block;
  border-radius: 20%;
  background: -webkit-radial-gradient(50% 50%, circle cover, rgb(110, 0, 255), rgb(218 218 218) 25%, rgb(283 0 0 / 0%) 3%);
  -webkit-transform: translateX(-77px) translateY(-94px) skewX(-20deg);
  -webkit-filter: blur(3px);
  

}


#logoInside1 {
 
  height: 17px;
  margin: 32px;
  margin-top: 3px;
  background-color: #fc0000;
  border: 1px solid #0037ff;
  border-radius: 50%;
  box-shadow: 50px 25px 9px rgb(26 22 24 / 48%);
}

#logoMain {
  
  width: 364px;
  height: 36px;
  background-color: #000000;
  border: 7px solid #707070;
  border-radius: 50%;
  box-shadow: 50px 25px 10px rgb(0 0 0 / 25%);
  position: relative;
   
  margin: auto;
}
  #logoMainafter {
      width: 74px;
      box-shadow: 0px 0px 0px rgba(5, 5, 5, 0.25);
      height: 38px;
      margin-top: 67px;
      margin-left: 219px;
      display: block;
      border-radius: 20%;
      background: -webkit-radial-gradient(50% 50%, circle cover, rgb(110, 0, 255), rgb(218 218 218) 25%, rgb(283 0 0 / 0%) 3%);
      -webkit-transform: translateX(-77px) translateY(-94px) skewX(-20deg);
      -webkit-filter: blur(3px);
    
  
  }
  .logo{
    margin-left: 50%;
    width: 250px;
    height: 95px;
  }
  
  #logoInside {
   
    height: 17px;
    margin: 32px;
    margin-top: 3px;
    background-color: #fc0000;
    border: 1px solid #0037ff;
    border-radius: 50%;
    box-shadow: 50px 25px 9px rgba(26, 22, 24, 0.48);
    
  }
  .logo-holder {
      text-align: center;
      width: 100%;
      display: grid;
      justify-content: center;
      margin: auto;
  }

  
  .logo-6 h3 {
      color: #000000;
      font-family: 'Cinzel', serif;
      font-weight: bold;
      font-size: 44px;
      line-height: 0.5;
      box-shadow: 50px 25px 11px rgb(146 146 146 / 25%);
      width: 307px;
      /* height: 95px; */
      /* margin-top: -26px; */
      /* margin-left: 43%; */
  }
  .logo-6 h3 span {
    background: #e74c3c;
    color: #fff;
    display: inline-block;
    line-height: 1.8;
    padding: 0 16px;
  }



 