* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Noto Sans TC', sans-serif;
}

.navbar {
   
    align-items: center;
    padding: 50px;
}

nav {
    flex: 1;
    text-align: right;

}

nav li {
    display: inline-block;
    list-style-type: none;

}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: blue;
}

p {
    color: rgb(7, 7, 7);
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    /*flex-wrap: wrap;*/
    justify-content: space-around;

}

.col-2 {
    flex-basis: 50%;
    min-height: 300px;

}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}

.col-2 {
    font-size: 25px;
    line-height: 60px;
    margin: 25px 0;
}

.btn {
    display: inline-block;
    background: red;
    color: white;
    padding: 1px 20px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.bth:hover {
    background: #7589fd;
}

.header {
    background: radial-gradient(#fff, #7589fd);

}

.header .row {
    margin: 4px;
    text-align: center;
}

.categories {
    margin: 70px 0;

}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 5px;

}

.col-3 img {
    width: 100%;
}

.small-container {
    max-width: 1080%;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.6s;
  
}

.col-4 img {
    width: 100%;
}

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: rgb(124, 124, 124);
}

.title::after {
    content: '';
    background: #e9a002;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

H4 {
    color: #7589fd;
    font-weight: normal;
    text-align: center;
}

.col-4 p {
    font-size: 20px;
text-align: center;
}
.rating{
    text-align: center;
}
.rating .fa {
    color: #e9a002;
}

.col-4:hover {
    transform: translateY(-10px);
}

.offer {
    background: radial-gradient(#fff, #7589fd);
    margin-top: 80px;
    padding: 30px 0;

}

.col-2 .offer-img {
    padding: 50px;
}

small {
    color: red;
}

.testimoial {
    padding-top: 100px;
    background: radial-gradient(rgb(19, 104, 184), #d0dad1);
}

.testimoial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px red;
    cursor:pointer;
    transform:transform 0.5s;

}

.testimoial .col-3 img{
    width: 100px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimoial .col-3:hover{
    transform: translateY(-10px);
}
.fa.fa-quote-left{
    font-size: 34px;
    color: #0c0c0c;
}
.col-3 p{
    font: bold;
    font-size: 16px;
    margin: 12px 0;
    color: #000000;
}
.testimoial .col-3 h3{
    font-weight: 600 ;
    color: #fff;
    font-size: 16px;
}
.brands{
    margin: 100px auto;

}
.col-5{
    width: 160px;

}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}

.footer{
    background: black;
    color: white;
    font-size: 14px;
    padding: 60px 0 20px;

}
.footer p{
color: black;
}
.footer h3{
    color: #e9a002;
    margin-bottom: 20px;
}
.footer-col-1,.footer-col-2,footer-col-3,footer-col-4{
    min-width: 2px;
    margin-bottom: 20px;

}
.footer-col-1{
    flex-basis: 30%;
    text-align: center;
}
.footer-col-2 {
    flex: 1;
    text-align: center;
    margin-bottom: 47px;
    flex-basis: 80%;
    text-align: center;
}
.footer-col-3,.footer-col-4{
    flex-basis: 12%;
    text-align: center;
    flex-basis: 61%;
}
ul{
    list-style-type: none;
}
.logo{
    display: flex;
    justify-content: left;
    width: 25%;
}
.logo img{
    width:200px;
    height: 200px;
    filter: grayscale(20%);
}
.app-logo{
    margin-top: 20px;

}

.app-logo img{
    width: 140px;

}
.footer hr{
    border: none;
    background: #d0dad1;
    height: 1px;
    margin: 20px 0;

}
.copyright p{
   text-align: center;
   color: #ffffff;
}
.footer-col-1 p,.footer-col-2 p{
   color: #ffffff;
}
.footer-col-2 img{
    width: 100px;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}
.nav-2{
    display: none;
}
.clock{
    width: 120px;

}
.Camera{
    width: 120px;
}
.dvr{
    width: 120PX;
}

@media only screen and (max-width:500px) {
    .row {
        
        margin: 5px;
        text-align: center;
        padding: 10px;
    }
    

}
@media only screen and (max-width:800px) {
    .logo{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .logo img{
        width:200px;
        height: 200px;
        filter: grayscale(20%);
    }
    .header{
        background: radial-gradient(rgba(255, 0, 0, 0.397), #020101);
        filter: grayscale(50%);
    }
   h1{
       font-size: 16px;
   }
   p{
    font-size: 16px;
   }
   .btn {
    text-align: center;
    padding: 1px 10px;
    margin: 4px 0;

}
    nav ul{
        position: sticky;
        top: 57px;
        box-shadow: 5px 10px;
        left: auto;
        overflow: hidden;
        transform: max-height 0.5s;
        top: 0px;  
        text-align: right;
        background-color: rgb(0 0 0 / 70%);
    }
    .nav-2{
        display: none;
    }
    nav ul li {
        display: block;
        margin-right: 5px;
        /* margin-top: 13px; */
        margin-bottom: 10px;
    }
    nav ul li a {
        color: rgb(247, 247, 247);
        font: bold;
        
    }
   nav ul li:hover{
    background: #013af7;
   }
   .nav-img{
    background: radial-gradient(rgba(236, 231, 231, 0.397), #020101);
       position: sticky;
       top: 0px;
       padding: 8px;
       filter: grayscale(50%);
   }
    .menu-icon{
        background: radial-gradient(rgba(236, 236, 236, 0.397), #f50808);
        display: block;
       
     
       
    }

    .lazyloaded{
       
        background: rgb(255, 255, 255);
        /* padding: 2px; */
        margin-top: 5px;

        
    }
    .title1{
        background: radial-gradient(rgba(248, 248, 248, 0.4), #0c0302);
         text-align: center;
          
           
       }
   
}
.title1{
    background: radial-gradient(rgba(248, 248, 248, 0.4), #0c0302);
     text-align: center;

       
   }
@media only screen and (max-width:600px) {
    .col-4 {
       display: contents;
       justify-content: center;
      
    }
   
    .title1{
        background: radial-gradient(rgba(248, 248, 248, 0.4), #0c0302);
         text-align: center;
          
           
       }
    .row {
        display: flex; 
        align-items: center;
         flex-wrap: wrap; 
        justify-content: space-around;
    }
    .col-2,.col-3,.col-4{
        flex-basis: 100%;
    }
    

}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 8px;
    right: 8px;
    z-index: 99;
    font-size: 46px;
    border: none;
    outline: none;
    background: radial-gradient(rgb(235, 13, 13), #0f101a);
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 27px;
}

/*----------סינון לפי קטגוריה--------*/


 
  
  /* Create three equal columns that floats next to each other */
  .column {
    
    display: none; /* Hide all elements by default */
  }
  
 .myBtnContainer1{
    cursor: pointer;
     text-align: center;
     
 
 }
 .column1 {
    
    display: none; /* Hide all elements by default */
  }
  
  /* Clear floats after rows */ 
  .row1:after {
   
    display: table;
    clear: both;
  }
  
 .btn1 {
    font-size: 18px;
    border: none;
  outline: none;
  padding: 12px 16px;
  border-radius: 30px;
  cursor: pointer;
   
}

.btn1:hover {

    background-color: rgb(148, 231, 40);
  }
  .btn1.active1 {
    background: radial-gradient(rgb(255, 247, 247), #1020ce);
    color: rgb(20, 16, 16);
    font-size: 22px;
  }
 
  .show {
    display: block;
    padding-bottom: 30px;
  }
  
  .number2{
    width: 40px;
    height: 30px;
    padding: 5px;
    text-align: center;

}
.number1{
    width: 40px;
    height: 40px;
    text-align: center;
   padding: 1px;

}
.DIR{
    width: 98%;
}
.checkbox1 {
    /* display: inline-block; */
    text-align: left;
    width: 100%;
    /* height: 30px; */
    padding: 1px;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}
.btun1 {
    border-radius: 30px;
    padding: 10px;
    width: 100%;
    height: 50px;
    text-align: center;
    border-top: 3px solid rgb(47, 14, 235);
}
.btun1 button{
    width: 108px;
    height: 50px;
    background: radial-gradient(#fff, #7589fd);
    border-radius: 30px;
}

.bt2:hover {
    background-color: yellow;
}
/*LOGO*/

.columns{
    background-color: transparent;
  
  }
  
  
  @media screen and (max-width: 500px) {
    .barmenu a {
      float: none;
      display: block;
      width: 100%;
      text-align: left;
    }
  }
  @media screen and (max-width: 600px) {
  #logoMain1 {
    
    
    height: 36px;
    background-color: #000000;
    border: 7px solid #707070;
    border-radius: 50%;
    box-shadow: 50px 25px 10px rgb(0 0 0 / 25%);
    position: relative;
    /* margin-left: 40%; */
}
  #logoMainafter1 {
    width: 74px;
    box-shadow: 0px 0px 0px rgba(5, 5, 5, 0.25);
    height: 38px;
    margin-top: 67px;
    margin-left: 219px;
    display: block;
    border-radius: 20%;
    background: -webkit-radial-gradient(50% 50%, circle cover, rgb(110, 0, 255), rgb(218 218 218) 25%, rgb(283 0 0 / 0%) 3%);
    -webkit-transform: translateX(-77px) translateY(-94px) skewX(-20deg);
    -webkit-filter: blur(3px);
    
  
  }
  
  
  #logoInside1 {
   
    height: 17px;
    margin: 32px;
    margin-top: 3px;
    background-color: #fc0000;
    border: 1px solid #0037ff;
    border-radius: 50%;
    box-shadow: 50px 25px 9px rgb(26 22 24 / 48%);
}
  
  #logoMain {
    
    height: 36px;
    background-color: #000000;
    border: 7px solid #707070;
    border-radius: 50%;
    box-shadow: 50px 25px 10px rgb(0 0 0 / 25%);
    position: relative;
    /* margin-left: 40%; */
}
    #logoMainafter {
        width: 74px;
        box-shadow: 0px 0px 0px rgba(5, 5, 5, 0.25);
        height: 38px;
        margin-top: 67px;
        margin-left: 219px;
        display: block;
        border-radius: 20%;
        background: -webkit-radial-gradient(50% 50%, circle cover, rgb(110, 0, 255), rgb(218 218 218) 25%, rgb(283 0 0 / 0%) 3%);
        -webkit-transform: translateX(-77px) translateY(-94px) skewX(-20deg);
        -webkit-filter: blur(3px);
      
    
    }
    .logo{
      margin-left: 50%;
      width: 250px;
      height: 95px;
    }
    
    #logoInside {
     
      height: 17px;
      margin: 32px;
      margin-top: 3px;
      background-color: #fc0000;
      border: 1px solid #0037ff;
      border-radius: 50%;
      box-shadow: 50px 25px 9px rgba(26, 22, 24, 0.48);
      
    }
    .logo-holder {
        text-align: center;
        width: 100%;
        display: grid;
        justify-content: center;
        margin: auto;
    }
  
    
    .logo-6 h3 {
        color: #000000;
        font-family: 'Cinzel', serif;
        font-weight: bold;
        font-size: 44px;
        line-height: 2.5;
        box-shadow: 50px 25px 11px rgb(146 146 146 / 25%);
        width: 307px;
        /* height: 95px; */
        /* margin-top: -26px; */
        /* margin-left: 43%; */
    }
    .logo-6 h3 span {
      background: #e74c3c;
      color: #fff;
      display: inline-block;
      line-height: 1.8;
      padding: 0 16px;
    }
}
#logoMain1 {
    
    
    height: 36px;
    background-color: #000000;
    border: 7px solid #707070;
    border-radius: 50%;
    box-shadow: 50px 25px 10px rgb(0 0 0 / 25%);
    position: relative;
    /* margin-left: 40%; */
}
  #logoMainafter1 {
    width: 74px;
    box-shadow: 0px 0px 0px rgba(5, 5, 5, 0.25);
    height: 38px;
    margin-top: 67px;
    margin-left: 219px;
    display: block;
    border-radius: 20%;
    background: -webkit-radial-gradient(50% 50%, circle cover, rgb(110, 0, 255), rgb(218 218 218) 25%, rgb(283 0 0 / 0%) 3%);
    -webkit-transform: translateX(-77px) translateY(-94px) skewX(-20deg);
    -webkit-filter: blur(3px);
    
  
  }
  
  
  #logoInside1 {
   
    height: 17px;
    margin: 32px;
    margin-top: 3px;
    background-color: #fc0000;
    border: 1px solid #0037ff;
    border-radius: 50%;
    box-shadow: 50px 25px 9px rgb(26 22 24 / 48%);
}
  
  #logoMain {
    
    width: 364px;
    height: 36px;
    background-color: #000000;
    border: 7px solid #707070;
    border-radius: 50%;
    box-shadow: 50px 25px 10px rgb(0 0 0 / 25%);
    position: relative;
     
    margin: auto;
}
    #logoMainafter {
        width: 74px;
        box-shadow: 0px 0px 0px rgba(5, 5, 5, 0.25);
        height: 38px;
        margin-top: 67px;
        margin-left: 219px;
        display: block;
        border-radius: 20%;
        background: -webkit-radial-gradient(50% 50%, circle cover, rgb(110, 0, 255), rgb(218 218 218) 25%, rgb(283 0 0 / 0%) 3%);
        -webkit-transform: translateX(-77px) translateY(-94px) skewX(-20deg);
        -webkit-filter: blur(3px);
      
    
    }
    .logo{
      margin-left: 50%;
      width: 250px;
      height: 95px;
    }
    
    #logoInside {
     
      height: 17px;
      margin: 32px;
      margin-top: 3px;
      background-color: #fc0000;
      border: 1px solid #0037ff;
      border-radius: 50%;
      box-shadow: 50px 25px 9px rgba(26, 22, 24, 0.48);
      
    }
    .logo-holder {
        text-align: center;
        width: 100%;
        display: grid;
        justify-content: center;
        margin: auto;
    }
  
    
    .logo-6 h3 {
        color: #000000;
        font-family: 'Cinzel', serif;
        font-weight: bold;
        font-size: 44px;
        line-height: 2.5;
        box-shadow: 50px 25px 11px rgb(146 146 146 / 25%);
        width: 307px;
        /* height: 95px; */
        /* margin-top: -26px; */
        /* margin-left: 43%; */
    }
    .logo-6 h3 span {
      background: #e74c3c;
      color: #fff;
      display: inline-block;
      line-height: 1.8;
      padding: 0 16px;
    }